
body, html {
  height: 100%;
  line-height: 1.8;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/space.jpg");
  min-height: 100%;
}



html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}


body {font-family: "Raleway", sans-serif
}

.w3-bar .w3-button {
  padding: 16px;
}

.container {
  display: flex;

}
/*body, html {
  height: 100%;
  line-height: 1.8;
}*/


.w3-top {
  max-width: 100%;
}

#title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
#title2 {
  font-size: 30px;
  color: white;
}

#textMood {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: gray;
  background-color: whitesmoke;
  margin: 0 auto;
}

  .w3-bar .w3-button {
    padding: 16px;
  }

  /*.bgimg2 {
    background-image: url("./assets/images/team.jpg");
    min-height: 75%;
  }*/

  

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .buttons, .display-playlist, .display-movie {
  float: left;
  margin-top: 100px;
  }

#sad {
  clear: both;
  display: block;
  position:static;
}
/* styling for the buttons. */
.button {
  width: 70%;
  clear: both;
  height: 100px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  border: 1px solid;
  padding: 10px;
  border: 2px solid black;
  font-size: 25px;
  /* box-shadow: 5px 10px #888888; */
  
}

#happy, #excited, #bored, #sad {
  margin-top: 30px;
}

.buttonContainer {
  margin-left: 10%;
}

img, embed, iframe, object, video {
  height: 600px;
  max-width: 100%;
}

/* colors for hover. Colors are coordinated by mood. */
.styledSad {
  border-color: #4DA6FF;
  color: #4DA6FF;
}

 .styledSad:hover {
  background-color: #4DA6FF;
}

.styledHappy {
  border-color: green;
  color: green;
}

.styledHappy:hover {
  background-color: green;
}

.styledBored {
  border-color:#FFCCFF;
}

.styledBored:hover {
  background-color: #FFCCFF;
}

.styledExcited {
  border-color: #77B300;
  color:#77B300;
}
.styledExcited:hover {
  background-color: #77B300;
}

.idCards {
width: 80%;
}

footer {
  height: 50px;
    margin-top: auto;
    padding: 20px 0;
    clear: both;
    color: #fff;
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

