#title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
#title2 {
  font-size: 20px;
}

#textMood {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: gray;
  background-color: whitesmoke;
  margin: 0 auto;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("technology.jpg");
    min-height: 100%;
  }
  
  .w3-bar .w3-button {
    padding: 16px;
  }

  .bgimg2 {
    background-position: center;
    background-size: cover;
    background-image: url("team.jpg");
    min-height: 100%;
  }

  .buttons, .display-playlist, .display-movie {
  float: left;
  margin-top: 100px;
  }

#sad {
  clear: both;
  display: block;
  position:static;
}

.emotionButton {
  border: 1px black;
  width: 100%;
  clear: both;
  height: 117px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  
}

#happy, #excited, #bored {
  margin-top: 10px;
}

.buttonContainer {
  margin-left: 10%;
}

img, embed, iframe, object, video {
  height: 500px !important;
  max-width: 600px !important;
}

